/*RESET*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/*FONT*/

@font-face {
  font-family: norse-bold;
  src: url(fonts/Norse-Bold.otf);
}

/*PAGE-SPECIFIC*/
* {
}

body {
  display: flex;
  height: 100vh;
  background-color: #cad3e6;
}

.background-container {
  position: relative;
  width: 100%;
  flex: 0 0 430px;
}

.background-image {
  position: absolute;
  height: 100%;
  max-height: 100%;
  min-width: 100%;
  z-index: -1;
  object-fit: cover;
}

.image-credit {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  color: white;
}

.image-credit a{
  color: white;
}

.logo-body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  background: black;
  opacity: 0.6;
  color: white;
  top: 8rem;
  text-align: center;
  padding: 5px 0px;
}

.logo {
  height: 130px;
  width: auto;
}


.logo-text {
  font-family: norse-bold;
  font-size: 90px;
}


.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.sales-pitch-container,
.button-container {
  height: 35vh;
}

.sales-pitch-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.form-container {
  height: 30vh;
  background-color: #fef4ee;
  box-shadow: 5px 2px 5px 1px grey;
  width: 100%;
}

.sales-pitch {
  margin: 50px 40px;
}

.form-inputs {
  display: flex;
  flex-wrap: wrap;
  border: none;
  padding-left: 5px;
  padding-top: 5px;
  width: 600px;
}

.label-input {
  display: flex;
  flex-direction: column;
}

.form-inputs div {
  margin: 5px 35px;
}

#sign-up-form legend {
  margin-top: 12px;
  margin-left: 40px;
}

.button-container button {
  padding: 8px 40px;
  border: none;
  border-radius: 5px;
  background-color: #f26215;
  margin: 25px 40px;
}

.button-container p {
  margin-left: 40px;
}

.label-input input {
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.label-input input:focus {
  outline: none;
  border: 1px solid #8d94a1;
  border-radius: 3px;
  box-shadow: 1px 1px 4px #8d94a1;
}

.log-in-text a {
  color: #f26215;
  text-decoration: none;
  font-weight: bold;
}

input[type="password"]:invalid {
  border: 1px solid red;
}
